<footer class="footer">
    <div class="social-icons">
        <a href="#"><i class="fa fa-facebook fa-lg"></i></a>
        <a href="#"><i class="fa fa-instagram fa-lg"></i></a>
        <a href="#"><i class="fa fa-linkedin fa-lg"></i></a>
    </div>
    <p class="copyright">
        Copyright Phoneshop(c) 2021 Todos os direitos reservados.<br/>
        <a href="#">Para mais informações, clique aqui.</a>
    </p>
</footer>