<!DOCTYPE html>
<html lang="pt-br">
<head>
    <include ('./includes/head.marko')> </include>
    <link rel="stylesheet" href="/public/stylesheets/about.css">
	
</head>

<body>
    <include ('./includes/header.marko')> </include>

    <section class="sobre-nos">
        <img src="/public/images/fone.webp"/>
        <div class="texto">
            <h1> 
                Quem somos?
            </h1>
            <p> Esse é o site oficial da Phoneshop!! <br>
                Somos a principal empresa e-commerce do Brasil. Fundada em 10 de Janeiro de 2019,
                a empresa já conta com mais de 120 funcionários, e conta também com a entrega mais
                rápida do Brasil! <br> <br>
                Todos os produtos que estão sendo exibidos aqui, temos a pronta entrega, podendo chegar até
                sua casa 24 horas depois do pagamento. <br>
                Além da nossa rápida entrega, o site é 100% seguro, e tem as melhores média de avaliação entre os
                usuários, garantimos toda a segurança, desde a forma de pagamento até o momento em que você estiver
                com o produto em mãos. <br>
                Nós, da Phoneshop abrimos diversas oportunidades para funcionários mais novos e sem
                experiência, acreditamos que se o funcionário quer aprender e demonstrar serviço, 
                aqui é o melhor lugar. <br> <br>
                Nosso objetivo é continuar com a mais baixa média de idade entre os funcionários, pois intercalando
                trabalhadores novos e cheio de ideias também novas, e a experiência de alguns da nossa equipe, estamos
                obtendo os melhores resultados. <br> <br>
                Agora que você já sabe um pouco da nossa história e de nossos pensamentos, é hora das compras!! <br> <br>
                Ass: Phoneshop.
            </p>
        </div>
    </section>
	
    <include ('./includes/footer.marko')> </include>
</body>
</html>
