<!DOCTYPE html>
<html lang="pt-br">

<head>
    <include ('./includes/head.marko')> </include>
    <link rel="stylesheet" href="/public/stylesheets/style.css">	

</head>

<body>

    <include ('./includes/header.marko')> </include>
	
    <section class="menu2">
        <div class="mensagem">
            <p id='corre'>O melhor lugar de fones é aqui! Tudo o que você precisa, você encontra!</p>
        </div>
    </section>

    <section class="produtos" id="produtos">
        <for (product in data.products)>
             <section class='venda'>
			    <picture>
				    <img src="${product.image}" alt="Fone de ouvidos">
				    <figcaption>
					    <span>${product.description}</span>
				    </figcaption>
			    </picture>
                <div class="descricao">
                    <div class="mensagem1">
                        <p>
                            ${product.name}
                        </p>
                    </div>
                    <div class="figura">
                        <ul class='fav'>
                            <li><i class="fa fa-heart "></i></li>
                        </ul>
                        <ul class='cart'>
                            <a href='/cart/add-to-cart/${product._id}'>
                                <li><i class="fa fa-shopping-cart "></i></li>
                            </a>
                        </ul>   
                    </div>
                    <div class="mensagem2">
                        <p>
                            <br>
                            <for(info in product.additionalInfo)>
                                ${info}
                                <br>
                            </for>
                        </p>
                    </div>
                </div>
            </section>
        </for>
    </section>

    
	
	<section class="newsletter">
        <h2>Inscreva-se agora</h2>
        <h3>e Receba as últimas novidades e promoções</h3>
        <form>
            <input type="email" name="Email" placeholder="Seu email">
            <button>Cadastrar!</button>
        </form>
    </section>
	
    <include ('./includes/footer.marko')> </include>

    <script src="/public/javascripts/index.js"></script>
</body>
</html>
