<!DOCTYPE html>
<html lang="pt-br">
<head>
    <include ('./includes/head.marko')> </include>
    <link rel="stylesheet" href="/public/stylesheets/error.css">	
</head>


<body>    
    <include ('./includes/header.marko')> </include>


    <section class='erro-style'>
        
                <div class="foto">
                    <img src="/public/images/error.png" alt="Error 404">
                </div>      
        
    </section>

    <include ('./includes/footer.marko')> </include>
</body>
</html>