<!DOCTYPE html>
<html lang="pt-br">
<head>
  <include ('../includes/head.marko')> </include>
  <link rel="stylesheet" href="/public/stylesheets/checkout.css">	

  <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
  
  <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
  <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.3/js/bootstrap.min.js"></script>
</head>


<body>    
    <include ('../includes/header.marko')> </include>


    <section class='checkout-style'>

    <form class="formulario" action="/checkout" method="post" id="checkout">
      <div class="titulo">
        <h1>Checkout</h1>
        <h4>Total: R$ ${data.total}</h4>
      </div>
      <if(data.error)>
        <div id='charge-error' class='alert alert-danger'>
            ${data.error}
        </div>
      </if>
      <div class="card">
        <div class="inserir">
          <label for="name">
            <span>Nome completo</span>
          </label>
          <input type="text" id='name' name="name" placeholder="Digite seu nome" required>
        </div>

        <div class="inserir">
          <label for="address_line1">
            <span>Endereço</span>
          </label>
          <input type="text" id='address_line1' name="address_line1" placeholder="Digite seu endereço" required>
        </div>

        <div class="inserir">
          <label for="number">
            <span>Número do cartão</span>
          </label>
          <input type="text" id="number" name="number" placeholder="Digite o número do cartão">
        </div>

        <div class="inserir">
          <label for="exp_month">
            <span>Mês de expiração</span>
          </label>
          <input type="text" id="exp_month" name="exp_month" placeholder="Digite mês de expiração do cartão">
        </div>

        <div class="inserir">
          <label for="exp_year">
            <span>Ano de expiração</span>
          </label>
          <input type="text" id="exp_year" name="exp_year" placeholder="Digite ano de expiração do cartão">
        </div>

        <div class="inserir">
          <label for="cvc">
            <span>CVC</span>
          </label>
          <input type="text" id="cvc" name="cvc" placeholder="Digite o CVC do cartão">
        </div>

        <div class="inserir">
          <button type="submit" class="btn-success">Compre Agora</button>
        </div>
      </div>
    </form>
  </section>


    <include ('../includes/footer.marko')> </include>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="https://js.stripe.com/v3/"></script>
    <script src="/public/javascripts/checkout.js"></script>
</body>
</html>