<!DOCTYPE html>
<html lang="pt-br">
<head>
    <include ('../includes/head.marko')> </include>
    <link rel="stylesheet" href="/public/stylesheets/compra-finalizada.css">	
</head>


<body>    
    <include ('../includes/header.marko')> </include>

     <section class="compra">
    <div class="titulo">
      <h1>Compra Finalizada com Sucesso!</h1>
      <h2>Obrigado por comprar na Phoneshop :)</h2>
      <h3>Volte sempre!</h3>
      <img src="images\check.png" alt="check">
    </div>
  </section>

   <include ('./includes/footer.marko')> </include>
</body>
</html>